<a href="https://colab.research.google.com/github/Luyapial/UIBERO_hcp/blob/main/Proyecto1_HCP_Ibero.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import random

In [ ]:
#tarea: crear las funciones para las siguientes medidas
#Media, Mediana, Moda, Varianza, desviacion Estandar, Coeficiente de variación, Normalización Z

#lista=[1,2,3,4,5,6,7,8,9,10]
def media(lista_prueba):
  n=len(lista_prueba)
  sigma=sum(lista_prueba)
  return (1/n)*sigma
print (media(lista_prueba))

31.6

In [ ]:
lista_prueba=[]
for i in range(20):
  lista_prueba.append(random.randint(1,50))
  print(lista_prueba)

[22]
[22, 45]
[22, 45, 33]
[22, 45, 33, 39]
[22, 45, 33, 39, 14]
[22, 45, 33, 39, 14, 41]
[22, 45, 33, 39, 14, 41, 38]
[22, 45, 33, 39, 14, 41, 38, 15]
[22, 45, 33, 39, 14, 41, 38, 15, 30]
[22, 45, 33, 39, 14, 41, 38, 15, 30, 33]
[22, 45, 33, 39, 14, 41, 38, 15, 30, 33, 37]
[22, 45, 33, 39, 14, 41, 38, 15, 30, 33, 37, 36]
[22, 45, 33, 39, 14, 41, 38, 15, 30, 33, 37, 36, 4]
[22, 45, 33, 39, 14, 41, 38, 15, 30, 33, 37, 36, 4, 38]
[22, 45, 33, 39, 14, 41, 38, 15, 30, 33, 37, 36, 4, 38, 18]
[22, 45, 33, 39, 14, 41, 38, 15, 30, 33, 37, 36, 4, 38, 18, 24]
[22, 45, 33, 39, 14, 41, 38, 15, 30, 33, 37, 36, 4, 38, 18, 24, 44]
[22, 45, 33, 39, 14, 41, 38, 15, 30, 33, 37, 36, 4, 38, 18, 24, 44, 44]
[22, 45, 33, 39, 14, 41, 38, 15, 30, 33, 37, 36, 4, 38, 18, 24, 44, 44, 30]
[22, 45, 33, 39, 14, 41, 38, 15, 30, 33, 37, 36, 4, 38, 18, 24, 44, 44, 30, 47]

31.6

In [ ]:
def mediana(lista_prueba):
  lista_ordenada = sorted(lista_prueba)
  n = len(lista_prueba)
  if n % 2 == 0:
    mediana = (lista_ordenada[n//2 - 1] + lista_ordenada[n//2]) / 2
  else:
    mediana = lista_ordenada[n//2]
  return mediana

mediana(lista_prueba)

34.5

In [ ]:
from collections import Counter
def moda(lista_prueba):
  contador = Counter(lista_prueba)
  moda = contador.most_common(1)[0][0]
  return moda

moda(lista_prueba)

33

In [ ]:
def varianza(lista_prueba):
  media = sum(lista_prueba) / len(lista_prueba)
  suma_cuadrados = sum((x - media) ** 2 for x in lista_prueba)
  varianza = suma_cuadrados / len(lista_prueba)
  return varianza
varianza(lista_prueba)

134.44

In [ ]:
import math

In [ ]:
def desviacion_estandar(lista_prueba):
  desviacion_estandar = math.sqrt(varianza(lista_prueba))
  #desviacion_estandar = (varianza(lista_prueba))**0,5
  return desviacion_estandar
desviacion_estandar(lista_prueba=lista_prueba)

11.594826432508595

In [ ]:
def coeficiente_variacion(lista_prueba):
  cv = (desviacion_estandar(lista_prueba) / media(lista_prueba)) * 100
  return cv
coeficiente_variacion(lista_prueba)  #36%

36.692488710470236

In [ ]:
def coeficiente_variacion(lista_prueba):
  if len(lista_prueba) < 2:
    return 0 #Coeficiente de variacion no esta definido para listas con menos de dos elementos
  else:
    n = len(lista_prueba)
    media = sum(lista_prueba)/n
    desviacion = desviacion_estandar(lista_prueba)
    cv = (desviacion/media)*100
    return cv
coeficiente_variacion(lista_prueba)

36.692488710470236

In [ ]:
import statistics
def normalizacion_z(lista_prueba):
  #media = statistics.mean(lista_prueba)
  #desviacion = statistics.stdev(lista_prueba)
  n = len(lista_prueba)
  media = sum(lista_prueba)/n
  desviacion = desviacion_estandar(lista_prueba)
  lista_nomalizada = [int(x) for x in [(x - media) / desviacion for x in lista_prueba]]
  return [(x - media) / desviacion for x in lista_prueba]

normalizacion_z(lista_prueba)

[-0.8279554727170674,
 1.1556878473342396,
 0.1207435064379055,
 0.6382156768860725,
 -1.5179183666479568,
 0.8107064003687948,
 0.5519703151447113,
 -1.4316730049065955,
 -0.137992578786178,
 0.1207435064379055,
 0.4657249534033502,
 0.379479591661989,
 -2.3803719840615685,
 0.5519703151447113,
 -1.172936919682512,
 -0.655464749234345,
 1.0694424855928784,
 1.0694424855928784,
 -0.137992578786178,
 1.3281785708169618]

In [ ]:
fruta="Manzana"
fruta2="Banano"
numero1=2
numero2=5
suma=numero1+numero2
print(suma)

7

In [ ]:
nombre=input("Digite su nombre:")
print("Su nombre es ",nombre)

Digite su nombre:ludy
Su nombre es  ludy

In [ ]:
#condicionales
numero =int(input("Digite un número entre 1 y 3: "))
if numero == 1 :
  print("Esta es la opción 1")
elif numero == 2 :
    print("Esta es la opción 2")
else :
    print ("Esta es la opción 3")

Digite un número entre 1 y 3: 2
Esta es la opción 2

In [ ]:
#ciclos
i=0
while i < 3 :
  print (i)
  i = i + 1

0
1
2

In [ ]:
#for para recorrer listas
lista = ["Amalia","Carlos","Julio"]
lista2=["Ludy","Oscar","Rodolfo"]
for i in lista :
  print(i)
#funciones para listas
lista.append(1979)
print(lista)

lista.count(1979)

lista.extend(lista2)
print(lista)

lista.index("Oscar")

lista.insert(5,"Jose")
print(lista)

lista.pop(3)
print(lista)

lista.remove("Julio")
print(lista)

lista.reverse()
print(lista)

lista.append("Andres")

lista.sort()
print(lista)

Amalia
Carlos
Julio
['Amalia', 'Carlos', 'Julio', 1979]
['Amalia', 'Carlos', 'Julio', 1979, 'Ludy', 'Oscar', 'Rodolfo']
['Amalia', 'Carlos', 'Julio', 1979, 'Ludy', 'Jose', 'Oscar', 'Rodolfo']
['Amalia', 'Carlos', 'Julio', 'Ludy', 'Jose', 'Oscar', 'Rodolfo']
['Amalia', 'Carlos', 'Ludy', 'Jose', 'Oscar', 'Rodolfo']
['Rodolfo', 'Oscar', 'Jose', 'Ludy', 'Carlos', 'Amalia']
['Amalia', 'Andres', 'Carlos', 'Jose', 'Ludy', 'Oscar', 'Rodolfo']

In [12]:
##Actividad5: sintaxis de programacion en Python
#asignacion de variables
numero = 1
print(numero)
type(numero)

1
Digite un vr entre 1 y 3: 3
Este es el numero mayor

In [ ]:
#condicional if
numero_cond=(int(input("Digite un vr entre 1 y 3: ")))
if numero_cond == 1:
  print("Este número es el menor")
elif numero_cond == 2:
  print("Este número es el intermedio")
else :
  print("Este es el numero mayor")

In [20]:
#ciclos "while" y "for"
#repiten lineas de codigo que se le indique, siempre que la condicion se cumpla
i=0 #variable de control que inicia en 0
while i <= 3: #ciclo: se repite el codigo mientras que la variable de control sea menor ó igual a 3
  print("Para IF, la cuenta va en: ",i) # linea de cododigo que se ejecuta mientras la condicion se cumpla
  i=i+1 #se establece el incremento de la variable de control por cada vez que se ejecuta el codigo

for i in range(4):
  print ("Para FOR, la cuenta va en: ",i)

Para IF, la cuenta va en:  0
Para IF, la cuenta va en:  1
Para IF, la cuenta va en:  2
Para IF, la cuenta va en:  3
Para FOR, la cuenta va en:  0
Para FOR, la cuenta va en:  1
Para FOR, la cuenta va en:  2
Para FOR, la cuenta va en:  3

In [21]:
#ciclo con una condición que permite recorrer una lista
lista=[1,2,3,4,5]
for i in lista:
  print ("La cuenta va en : ",i)

La cuenta va en :  1
La cuenta va en :  2
La cuenta va en :  3
La cuenta va en :  4
La cuenta va en :  5

In [43]:
#metodos de las listas
lista=[1,2,3,4,5]
lista.pop(1) #elimina el elemento en la posicion 1 de la lista
print(lista)
lista.append(3) #agrega el elemento 3 al final de la lista
print(lista)
lista.insert(3,9) #agrega el elemento 9 en la posicion 3 de la lista
print(lista)
x=lista.count(3) #cuenta la cantidad de veces que aparece el elemento 3 en la lista
print(x)
lista.sort()
print(lista)
lista.reverse()
print(lista)
#para consultar elementos de una lista
nueva_lista=[1,2,3,4,5]
elemento =nueva_lista[3] #accede al elemento en la posicion 3 de la lista
print(elemento)
#consulta de listas dentro de listas
lista=[[1,2,3],[4,5,6],[7,8,9]]
elemento=lista[1]
print(elemento)
elemento=lista[2][1] #accede al elemento en la posicion 1,1 de la lista
print(elemento)

[1, 3, 4, 5]
[1, 3, 4, 5, 3]
[1, 3, 4, 9, 5, 3]
2
[1, 3, 3, 4, 5, 9]
[9, 5, 4, 3, 3, 1]
4
[4, 5, 6]
8

In [45]:
import pandas as pd

In [59]:

df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/matriz_bicis.csv')

In [60]:
df

      Modelo  EjePed(cm)   Bielas (mm)  Sillin (mm)  Manilar (cm)  Costo (US$)
0     Jaguar         263           174          255            46        11090
1     Panter         292           169          274            44        14501
2       Lion         295           180          273            47        12560
3       Bear         240           172          271            49        14968
4      Snake         295           179          243            46        12461
5    Giraffe         244           167          247            48        10995
6       Frog         278           160          274            40        13101
7  Alligator         257           165          271            48        14537
8     Monkey         278           179          268            47        14403
9     Spider         273           172          266            48        14064

In [61]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Modelo        10 non-null     object
 1   EjePed(cm)    10 non-null     int64
 2    Bielas (mm)  10 non-null     int64
 3   Sillin (mm)   10 non-null     int64
 4   Manilar (cm)  10 non-null     int64
 5   Costo (US$)   10 non-null     int64
dtypes: int64(5), object(1)
memory usage: 608.0+ bytes
None

In [77]:
N = int(input())
db = [10]
for i in range(10):
  c=input()
  db.append(c.split(' '))

P1 = 240
P2 = 300
P3 = 160
P4 = 180
P5 = 240
P6 = 275
P7 = 50

parametros = [P1,P2,P3,P4,P5,P6,P7]

disponibilidad=False

exito=[]

for i in range(db[0]):

   if (int(db[i+1][0]) >= parametros[0]) and \
       (int(db[i+1][0]) <= parametros[1]) and \
       (int(db[i+1][1]) >= parametros[2]) and \
       (int(db[i+1][1]) <= parametros[3]) and \
       (int(db[i+1][2]) >= parametros[4]) and \
       (int(db[i+1][2]) <= parametros[5]) and \
       (int(db[i+1][3]) <= parametros[6]):

       exito.append(db[i+1][4])

       disponibilidad = True
if not disponibilidad:
   print("NO DISPONIBLE")
else:
   for j in exito:
    print(j)
   print()

263
174
255
46

KeyboardInterrupt: Interrupted by user